# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/node_modules/denque/CHANGELOG.md
backend/node_modules/denque/index.d.ts
backend/node_modules/denque/index.js
backend/node_modules/denque/LICENSE
backend/node_modules/denque/package.json
backend/node_modules/denque/README.md
backend/node_modules/generate-function/.travis.yml
backend/node_modules/generate-function/example.js
backend/node_modules/generate-function/index.js
backend/node_modules/generate-function/LICENSE
backend/node_modules/generate-function/package.json
backend/node_modules/generate-function/README.md
backend/node_modules/generate-function/test.js
backend/node_modules/is-property/.npmignore
backend/node_modules/is-property/is-property.js
backend/node_modules/is-property/LICENSE
backend/node_modules/is-property/package.json
backend/node_modules/is-property/README.md
backend/node_modules/long/index.d.ts
backend/node_modules/long/index.js
backend/node_modules/long/LICENSE
backend/node_modules/long/package.json
backend/node_modules/long/README.md
backend/node_modules/long/umd/index.d.ts
backend/node_modules/long/umd/index.js
backend/node_modules/long/umd/package.json
backend/node_modules/lru-cache/index.d.ts
backend/node_modules/lru-cache/index.js
backend/node_modules/lru-cache/index.mjs
backend/node_modules/lru-cache/LICENSE
backend/node_modules/lru-cache/package.json
backend/node_modules/lru-cache/README.md
backend/node_modules/mysql2/index.d.ts
backend/node_modules/mysql2/index.js
backend/node_modules/mysql2/lib/auth_41.js
backend/node_modules/mysql2/lib/auth_plugins/caching_sha2_password.js
backend/node_modules/mysql2/lib/auth_plugins/caching_sha2_password.md
backend/node_modules/mysql2/lib/auth_plugins/index.js
backend/node_modules/mysql2/lib/auth_plugins/mysql_clear_password.js
backend/node_modules/mysql2/lib/auth_plugins/mysql_native_password.js
backend/node_modules/mysql2/lib/auth_plugins/sha256_password.js
backend/node_modules/mysql2/lib/commands/auth_switch.js
backend/node_modules/mysql2/lib/commands/binlog_dump.js
backend/node_modules/mysql2/lib/commands/change_user.js
backend/node_modules/mysql2/lib/commands/client_handshake.js
backend/node_modules/mysql2/lib/commands/close_statement.js
backend/node_modules/mysql2/lib/commands/command.js
backend/node_modules/mysql2/lib/commands/execute.js
backend/node_modules/mysql2/lib/commands/index.js
backend/node_modules/mysql2/lib/commands/ping.js
backend/node_modules/mysql2/lib/commands/prepare.js
backend/node_modules/mysql2/lib/commands/query.js
backend/node_modules/mysql2/lib/commands/quit.js
backend/node_modules/mysql2/lib/commands/register_slave.js
backend/node_modules/mysql2/lib/commands/server_handshake.js
backend/node_modules/mysql2/lib/compressed_protocol.js
backend/node_modules/mysql2/lib/connection.js
backend/node_modules/mysql2/lib/connection_config.js
backend/node_modules/mysql2/lib/constants/charset_encodings.js
backend/node_modules/mysql2/lib/constants/charsets.js
backend/node_modules/mysql2/lib/constants/client.js
backend/node_modules/mysql2/lib/constants/commands.js
backend/node_modules/mysql2/lib/constants/cursor.js
backend/node_modules/mysql2/lib/constants/encoding_charset.js
backend/node_modules/mysql2/lib/constants/errors.js
backend/node_modules/mysql2/lib/constants/field_flags.js
backend/node_modules/mysql2/lib/constants/server_status.js
backend/node_modules/mysql2/lib/constants/session_track.js
backend/node_modules/mysql2/lib/constants/ssl_profiles.js
backend/node_modules/mysql2/lib/constants/types.js
backend/node_modules/mysql2/lib/helpers.js
backend/node_modules/mysql2/lib/packet_parser.js
backend/node_modules/mysql2/lib/packets/auth_next_factor.js
backend/node_modules/mysql2/lib/packets/auth_switch_request.js
backend/node_modules/mysql2/lib/packets/auth_switch_request_more_data.js
backend/node_modules/mysql2/lib/packets/auth_switch_response.js
backend/node_modules/mysql2/lib/packets/binary_row.js
backend/node_modules/mysql2/lib/packets/binlog_dump.js
backend/node_modules/mysql2/lib/packets/binlog_query_statusvars.js
backend/node_modules/mysql2/lib/packets/change_user.js
backend/node_modules/mysql2/lib/packets/close_statement.js
backend/node_modules/mysql2/lib/packets/column_definition.js
backend/node_modules/mysql2/lib/packets/execute.js
backend/node_modules/mysql2/lib/packets/handshake.js
backend/node_modules/mysql2/lib/packets/handshake_response.js
backend/node_modules/mysql2/lib/packets/index.js
backend/node_modules/mysql2/lib/packets/packet.js
backend/node_modules/mysql2/lib/packets/prepare_statement.js
backend/node_modules/mysql2/lib/packets/prepared_statement_header.js
backend/node_modules/mysql2/lib/packets/query.js
backend/node_modules/mysql2/lib/packets/register_slave.js
backend/node_modules/mysql2/lib/packets/resultset_header.js
backend/node_modules/mysql2/lib/packets/ssl_request.js
backend/node_modules/mysql2/lib/packets/text_row.js
backend/node_modules/mysql2/lib/parsers/binary_parser.js
backend/node_modules/mysql2/lib/parsers/parser_cache.js
backend/node_modules/mysql2/lib/parsers/string.js
backend/node_modules/mysql2/lib/parsers/text_parser.js
backend/node_modules/mysql2/lib/pool.js
backend/node_modules/mysql2/lib/pool_cluster.js
backend/node_modules/mysql2/lib/pool_config.js
backend/node_modules/mysql2/lib/pool_connection.js
backend/node_modules/mysql2/lib/results_stream.js
backend/node_modules/mysql2/lib/server.js
backend/node_modules/mysql2/License
backend/node_modules/mysql2/node_modules/iconv-lite/.github/dependabot.yml
backend/node_modules/mysql2/node_modules/iconv-lite/.idea/codeStyles/codeStyleConfig.xml
backend/node_modules/mysql2/node_modules/iconv-lite/.idea/codeStyles/Project.xml
backend/node_modules/mysql2/node_modules/iconv-lite/.idea/iconv-lite.iml
backend/node_modules/mysql2/node_modules/iconv-lite/.idea/inspectionProfiles/Project_Default.xml
backend/node_modules/mysql2/node_modules/iconv-lite/.idea/modules.xml
backend/node_modules/mysql2/node_modules/iconv-lite/.idea/vcs.xml
backend/node_modules/mysql2/node_modules/iconv-lite/Changelog.md
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/dbcs-codec.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/dbcs-data.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/index.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/internal.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/sbcs-codec.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/sbcs-data-generated.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/sbcs-data.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/big5-added.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/cp936.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/cp949.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/cp950.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/eucjp.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/gb18030-ranges.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/gbk-added.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/shiftjis.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/utf16.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/utf32.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/utf7.js
backend/node_modules/mysql2/node_modules/iconv-lite/lib/bom-handling.js
backend/node_modules/mysql2/node_modules/iconv-lite/lib/index.d.ts
backend/node_modules/mysql2/node_modules/iconv-lite/lib/index.js
backend/node_modules/mysql2/node_modules/iconv-lite/lib/streams.js
backend/node_modules/mysql2/node_modules/iconv-lite/LICENSE
backend/node_modules/mysql2/node_modules/iconv-lite/package.json
backend/node_modules/mysql2/node_modules/iconv-lite/README.md
backend/node_modules/mysql2/node_modules/sqlstring/HISTORY.md
backend/node_modules/mysql2/node_modules/sqlstring/index.js
backend/node_modules/mysql2/node_modules/sqlstring/lib/SqlString.js
backend/node_modules/mysql2/node_modules/sqlstring/LICENSE
backend/node_modules/mysql2/node_modules/sqlstring/package.json
backend/node_modules/mysql2/node_modules/sqlstring/README.md
backend/node_modules/mysql2/package.json
backend/node_modules/mysql2/promise.d.ts
backend/node_modules/mysql2/promise.js
backend/node_modules/mysql2/README.md
backend/node_modules/mysql2/typings/mysql/index.d.ts
backend/node_modules/mysql2/typings/mysql/info.txt
backend/node_modules/mysql2/typings/mysql/lib/Connection.d.ts
backend/node_modules/mysql2/typings/mysql/lib/Pool.d.ts
backend/node_modules/mysql2/typings/mysql/lib/PoolCluster.d.ts
backend/node_modules/mysql2/typings/mysql/lib/PoolConnection.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/Field.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/FieldPacket.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/index.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/OkPacket.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/params/ErrorPacketParams.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/params/OkPacketParams.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/ResultSetHeader.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/RowDataPacket.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/sequences/Prepare.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/sequences/Query.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/sequences/Sequence.d.ts
backend/node_modules/mysql2/typings/mysql/lib/Server.d.ts
backend/node_modules/mysql2/typings/mysql/LICENSE.txt
backend/node_modules/named-placeholders/index.js
backend/node_modules/named-placeholders/LICENSE
backend/node_modules/named-placeholders/package.json
backend/node_modules/named-placeholders/README.md
backend/node_modules/seq-queue/.jshintrc
backend/node_modules/seq-queue/.npmignore
backend/node_modules/seq-queue/AUTHORS
backend/node_modules/seq-queue/index.js
backend/node_modules/seq-queue/lib/.npmignore
backend/node_modules/seq-queue/lib/seq-queue.js
backend/node_modules/seq-queue/LICENSE
backend/node_modules/seq-queue/Makefile
backend/node_modules/seq-queue/package.json
backend/node_modules/seq-queue/README.md
backend/node_modules/seq-queue/test/seq-queue-test.js
backend/node_modules/denque/CHANGELOG.md
backend/node_modules/denque/index.d.ts
backend/node_modules/denque/index.js
backend/node_modules/denque/LICENSE
backend/node_modules/denque/package.json
backend/node_modules/denque/README.md
backend/node_modules/generate-function/.travis.yml
backend/node_modules/generate-function/example.js
backend/node_modules/generate-function/index.js
backend/node_modules/generate-function/LICENSE
backend/node_modules/generate-function/package.json
backend/node_modules/generate-function/README.md
backend/node_modules/generate-function/test.js
backend/node_modules/is-property/.npmignore
backend/node_modules/is-property/is-property.js
backend/node_modules/is-property/LICENSE
backend/node_modules/is-property/package.json
backend/node_modules/is-property/README.md
backend/node_modules/long/index.d.ts
backend/node_modules/long/index.js
backend/node_modules/long/LICENSE
backend/node_modules/long/package.json
backend/node_modules/long/README.md
backend/node_modules/long/umd/index.d.ts
backend/node_modules/long/umd/index.js
backend/node_modules/long/umd/package.json
backend/node_modules/lru-cache/index.d.ts
backend/node_modules/lru-cache/index.js
backend/node_modules/lru-cache/index.mjs
backend/node_modules/lru-cache/LICENSE
backend/node_modules/lru-cache/package.json
backend/node_modules/lru-cache/README.md
backend/node_modules/mysql2/index.d.ts
backend/node_modules/mysql2/index.js
backend/node_modules/mysql2/lib/auth_41.js
backend/node_modules/mysql2/lib/auth_plugins/caching_sha2_password.js
backend/node_modules/mysql2/lib/auth_plugins/caching_sha2_password.md
backend/node_modules/mysql2/lib/auth_plugins/index.js
backend/node_modules/mysql2/lib/auth_plugins/mysql_clear_password.js
backend/node_modules/mysql2/lib/auth_plugins/mysql_native_password.js
backend/node_modules/mysql2/lib/auth_plugins/sha256_password.js
backend/node_modules/mysql2/lib/commands/auth_switch.js
backend/node_modules/mysql2/lib/commands/binlog_dump.js
backend/node_modules/mysql2/lib/commands/change_user.js
backend/node_modules/mysql2/lib/commands/client_handshake.js
backend/node_modules/mysql2/lib/commands/close_statement.js
backend/node_modules/mysql2/lib/commands/command.js
backend/node_modules/mysql2/lib/commands/execute.js
backend/node_modules/mysql2/lib/commands/index.js
backend/node_modules/mysql2/lib/commands/ping.js
backend/node_modules/mysql2/lib/commands/prepare.js
backend/node_modules/mysql2/lib/commands/query.js
backend/node_modules/mysql2/lib/commands/quit.js
backend/node_modules/mysql2/lib/commands/register_slave.js
backend/node_modules/mysql2/lib/commands/server_handshake.js
backend/node_modules/mysql2/lib/compressed_protocol.js
backend/node_modules/mysql2/lib/connection.js
backend/node_modules/mysql2/lib/connection_config.js
backend/node_modules/mysql2/lib/constants/charset_encodings.js
backend/node_modules/mysql2/lib/constants/charsets.js
backend/node_modules/mysql2/lib/constants/client.js
backend/node_modules/mysql2/lib/constants/commands.js
backend/node_modules/mysql2/lib/constants/cursor.js
backend/node_modules/mysql2/lib/constants/encoding_charset.js
backend/node_modules/mysql2/lib/constants/errors.js
backend/node_modules/mysql2/lib/constants/field_flags.js
backend/node_modules/mysql2/lib/constants/server_status.js
backend/node_modules/mysql2/lib/constants/session_track.js
backend/node_modules/mysql2/lib/constants/ssl_profiles.js
backend/node_modules/mysql2/lib/constants/types.js
backend/node_modules/mysql2/lib/helpers.js
backend/node_modules/mysql2/lib/packet_parser.js
backend/node_modules/mysql2/lib/packets/auth_next_factor.js
backend/node_modules/mysql2/lib/packets/auth_switch_request.js
backend/node_modules/mysql2/lib/packets/auth_switch_request_more_data.js
backend/node_modules/mysql2/lib/packets/auth_switch_response.js
backend/node_modules/mysql2/lib/packets/binary_row.js
backend/node_modules/mysql2/lib/packets/binlog_dump.js
backend/node_modules/mysql2/lib/packets/binlog_query_statusvars.js
backend/node_modules/mysql2/lib/packets/change_user.js
backend/node_modules/mysql2/lib/packets/close_statement.js
backend/node_modules/mysql2/lib/packets/column_definition.js
backend/node_modules/mysql2/lib/packets/execute.js
backend/node_modules/mysql2/lib/packets/handshake.js
backend/node_modules/mysql2/lib/packets/handshake_response.js
backend/node_modules/mysql2/lib/packets/index.js
backend/node_modules/mysql2/lib/packets/packet.js
backend/node_modules/mysql2/lib/packets/prepare_statement.js
backend/node_modules/mysql2/lib/packets/prepared_statement_header.js
backend/node_modules/mysql2/lib/packets/query.js
backend/node_modules/mysql2/lib/packets/register_slave.js
backend/node_modules/mysql2/lib/packets/resultset_header.js
backend/node_modules/mysql2/lib/packets/ssl_request.js
backend/node_modules/mysql2/lib/packets/text_row.js
backend/node_modules/mysql2/lib/parsers/binary_parser.js
backend/node_modules/mysql2/lib/parsers/parser_cache.js
backend/node_modules/mysql2/lib/parsers/string.js
backend/node_modules/mysql2/lib/parsers/text_parser.js
backend/node_modules/mysql2/lib/pool.js
backend/node_modules/mysql2/lib/pool_cluster.js
backend/node_modules/mysql2/lib/pool_config.js
backend/node_modules/mysql2/lib/pool_connection.js
backend/node_modules/mysql2/lib/results_stream.js
backend/node_modules/mysql2/lib/server.js
backend/node_modules/mysql2/License
backend/node_modules/mysql2/node_modules/iconv-lite/.github/dependabot.yml
backend/node_modules/mysql2/node_modules/iconv-lite/.idea/codeStyles/codeStyleConfig.xml
backend/node_modules/mysql2/node_modules/iconv-lite/.idea/codeStyles/Project.xml
backend/node_modules/mysql2/node_modules/iconv-lite/.idea/iconv-lite.iml
backend/node_modules/mysql2/node_modules/iconv-lite/.idea/inspectionProfiles/Project_Default.xml
backend/node_modules/mysql2/node_modules/iconv-lite/.idea/modules.xml
backend/node_modules/mysql2/node_modules/iconv-lite/.idea/vcs.xml
backend/node_modules/mysql2/node_modules/iconv-lite/Changelog.md
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/dbcs-codec.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/dbcs-data.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/index.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/internal.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/sbcs-codec.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/sbcs-data-generated.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/sbcs-data.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/big5-added.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/cp936.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/cp949.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/cp950.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/eucjp.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/gb18030-ranges.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/gbk-added.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/tables/shiftjis.json
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/utf16.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/utf32.js
backend/node_modules/mysql2/node_modules/iconv-lite/encodings/utf7.js
backend/node_modules/mysql2/node_modules/iconv-lite/lib/bom-handling.js
backend/node_modules/mysql2/node_modules/iconv-lite/lib/index.d.ts
backend/node_modules/mysql2/node_modules/iconv-lite/lib/index.js
backend/node_modules/mysql2/node_modules/iconv-lite/lib/streams.js
backend/node_modules/mysql2/node_modules/iconv-lite/LICENSE
backend/node_modules/mysql2/node_modules/iconv-lite/package.json
backend/node_modules/mysql2/node_modules/iconv-lite/README.md
backend/node_modules/mysql2/node_modules/sqlstring/HISTORY.md
backend/node_modules/mysql2/node_modules/sqlstring/index.js
backend/node_modules/mysql2/node_modules/sqlstring/lib/SqlString.js
backend/node_modules/mysql2/node_modules/sqlstring/LICENSE
backend/node_modules/mysql2/node_modules/sqlstring/package.json
backend/node_modules/mysql2/node_modules/sqlstring/README.md
backend/node_modules/mysql2/package.json
backend/node_modules/mysql2/promise.d.ts
backend/node_modules/mysql2/promise.js
backend/node_modules/mysql2/README.md
backend/node_modules/mysql2/typings/mysql/index.d.ts
backend/node_modules/mysql2/typings/mysql/info.txt
backend/node_modules/mysql2/typings/mysql/lib/Connection.d.ts
backend/node_modules/mysql2/typings/mysql/lib/Pool.d.ts
backend/node_modules/mysql2/typings/mysql/lib/PoolCluster.d.ts
backend/node_modules/mysql2/typings/mysql/lib/PoolConnection.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/Field.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/FieldPacket.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/index.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/OkPacket.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/params/ErrorPacketParams.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/params/OkPacketParams.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/ResultSetHeader.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/packets/RowDataPacket.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/sequences/Prepare.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/sequences/Query.d.ts
backend/node_modules/mysql2/typings/mysql/lib/protocol/sequences/Sequence.d.ts
backend/node_modules/mysql2/typings/mysql/lib/Server.d.ts
backend/node_modules/mysql2/typings/mysql/LICENSE.txt
backend/node_modules/named-placeholders/index.js
backend/node_modules/named-placeholders/LICENSE
backend/node_modules/named-placeholders/package.json
backend/node_modules/named-placeholders/README.md
backend/node_modules/seq-queue/.jshintrc
backend/node_modules/seq-queue/.npmignore
backend/node_modules/seq-queue/AUTHORS
backend/node_modules/seq-queue/index.js
backend/node_modules/seq-queue/lib/.npmignore
backend/node_modules/seq-queue/lib/seq-queue.js
backend/node_modules/seq-queue/LICENSE
backend/node_modules/seq-queue/Makefile
backend/node_modules/seq-queue/package.json
backend/node_modules/seq-queue/README.md
backend/node_modules/seq-queue/test/seq-queue-test.js
